body{
    font-family:"Microsoft YaHei UI";
}
.my-menu{
    cursor:pointer;
    margin:10px;
}
.my-menu:hover{
    box-shadow: #6cc4f8 1px 3px 20px;
}
.bold{
    font-weight: bold;
}
.guid_titles{
    float:left;
    cursor: pointer;
}
.guid_content{
    position:relative;
    float:left;
}

.guid_dialog .guid_titles{
    font-family:"Microsoft YaHei UI";
    font-weight:bold;
    color:green;
    padding: 5px;
    background: #c9e2fa;
}
.guid_title.active{
    color:red;
    background: #78ecee;
    border-radius: 5px;
    box-shadow: #c6bcaf 2px 4px 5px;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable.ui-dialog-buttons{
    outline: none;
    z-index: 100;
    border: none;
    box-shadow: #260325 2px 4px 15px;
}

.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle{
    background: #bfe1b7;
}

